* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}
.pumpfun{
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 100%;
  
  background-size: cover;
}
.tex{
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20vh;
}

.pumpfun iframe{
  display: flex;
  justify-self: center;
  align-self: center;
  width: 80%;
  height: 90vh;
  border-radius: 14px;
  border: none;
}
.nav {
  position: fixed;
  top: 0;
  transition: 0.5s;
  padding-top: 35px;
  width: 100%;
  z-index: 10;
  justify-self: center;
  display: grid;
  font-family: "Cherry Bomb One";
  backdrop-filter: blur(5px);
  grid-template-columns: 1fr 1fr 1fr;
}
.home {
  font-family: "Cherry Bomb One";
  position: relative;
  background-image: url(ff.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 90px;
  height: 100vh;
  background-repeat: no-repeat;
  color: white;
}
.left {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}
.left a,
.overlay a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 24px;
  text-decoration: none;
  padding: 7px 18px;
  gap: 5px;
  font-size: 20px;
  border: 3px solid white;
  background: skyblue;
  transition: 0.2s;
}
.left a:hover,
.overlay a:hover {
  background: pink;
}
#ho {
  background: pink;
}
.logo-sec {
  font-size: 50px;
  color: white;
  font-weight: bold;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.btn {
  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  padding: 2px 30px;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.7);
  background: linear-gradient(to bottom, white, wheat);
  border: 5px solid white;
  transition: 0.3s;
}
#ls {
  justify-content: flex-start;
}
.btn:hover {
  transform: scale(0.97);
}
/* about section*/
.about {
  height: auto;
  align-items: center;
  display: flex;
  gap: 40px;
  width: 100%;
  flex-direction: column;
  background-image: url(star.webp);
  padding-inline: 25%;
  background-position: top;
  background-size: cover;
  padding-bottom: 30px;
}
.dd {
  padding-top: 100px;
  gap: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sl {
  height: 340px;
  width: 300px;
}
#ha {
  text-align: center;
  font-size: 90px;
  font-family: Cherry Bomb One;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
#hb {
  font-family: Sour Gummy;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
}
.de {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#sx {
  text-decoration: none;
  transition: 0.3s;
}
#sx:hover {
  transform: scale(1.04);
}
.col {
  font-family: Google Sans;
  display: flex;
  justify-content: space-between;
  height: 110px;
  width: 100%;
  border-radius: 20px;
  transition: 0.3s;
}
.col:hover {
  transform: scale(1.02);
}
#one {
  background-color: lightblue;
  border: 3px solid rgb(126, 188, 209);
}
#two {
  background-color: pink;
  border: 3px solid rgb(248, 131, 152);
}
.lef {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#one img,
#two img {
  width: 95%;
  height: 95%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 85%;
}
.top {
  font-weight: bold;
  font-size: 22px;
}
#aa {
  font-size: 20px;
  padding-top: 50px;
  font-family: Google Sans;
}
/*how to buy + socials*/
.mix {
  display: flex;
  flex-direction: column;
  background-image: url(ss.webp);
  height: auto;
  background-position: center;
  background-size: cover;
}
.how-to-buy {
  display: flex;
  flex-direction: column;
}
.text {
  text-align: center;
  display: flex;
  height: 24vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.text p {
  font-size: 20px;
  font-family: Google Sans;
}
#va {
  color: rgba(0, 0, 0, 0.8);
  font-size: 60px;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
}
.dev {
  padding-inline: 20%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.socials {
  height: 50vh;
}
.box {
  padding-inline: 4px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  gap: 4px;
  border-radius: 20px;
  min-width: 320px;
  height: 400px;
  background-color: white;
}
#aas {
  font-size: 55px;
  font-family: Sour Gummy;
  font-weight: bold;
  color: rgb(64, 133, 156);
}
.box .img {
  position: relative;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.num {
  color: lightblue;
  position: absolute;
  top: 10px;
  font-family: Sour Gummy;
  left: 25px;
  font-weight: bold;
  font-size: 60px;
}
#sa {
  color: rgb(231, 110, 130);
}
.img img {
  height: 60%;
}
#mee {
  text-align: center;
  font-size: 16px;
  padding-top: 6px;
  font-family: Google Sans;
}
#hf {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: Roboto;
  color: rgba(0, 0, 0, 0.8);
}
#flx {
  top: 30%;
  right: 4%;
  position: absolute;
  width: 260px;
  height: 280px;
  animation-name: ff;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes ff {
  0% {
    top: 30%;
  }
  50% {
    top: 32%;
  }
  100% {
    top: 30%;
  }
}

#cc {
  display: none;
}
.container a {
  color: white;
}
.container:hover {
  transform: scale(0.97);
}
#tt {
  background-color: rgb(87, 177, 207);
}
#ta,
#tb {
  background-color: rgb(255, 134, 154);
}
.overlay {
  position: relative;
  z-index: 11;
  position: fixed;
  top: -2200px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  transition: 0.7s;
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  flex-direction: column;
}
.overlay a {
  width: 50%;
}
.copy {
  font-family: Google Sans;
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 8px 10px;
  font-size: 15px;
  width: 90%;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.374);
}
#kk {
  position: absolute;
  right: 10px;
  top: 20px;
  color: white;
  font-size: 30px;
}
#kk:hover {
  color: pink;
}
#ma {
  background-color: lightgreen;
}
#me {
  background-color: pink;
}
.ms {
  background-color: rgb(78, 191, 228);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ba{
  font-size: 30px;
  font-weight: bold;
  font-family: Londrina Shadow;
}
#bb{
  font-family: Roboto;
}
.make {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.make i {
  font-size: 30px;
  color: white;
}
@media (max-width: 800px) {
  #js {
    display: none;
  }
  .make {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ms {
    width: 70px;
    height: 70px;
  }
  .make i {
    font-size: 20px;
    color: white;
  }
  .nav {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    top: 0;
    padding: 10px;
  }
  #ls {
    justify-content: flex-end;
  }
  #ls a {
    display: none;
  }
  .logo-sec {
    font-size: 35px;
    justify-content: flex-start;
  }
  .home {
    text-align: center;
    font-size: 35px;
  }
  #cc {
    display: block;
    font-size: 32px;
  }
  .btn {
    font-size: 25px;
  }
  #mes {
    text-align: center;
  }
  #sl{
    width: 220px;
    height: 260px;
  }
  #fl {
    display: none;
  }
  #va {
    font-size: 40px;
  }
  .text p {
    font-size: 16px;
  }
  .dev {
    padding-inline: 20px;
  }
  .box {
    padding-bottom: 30px;
    height: 300px;
    min-width: 280px;
  }
  #aas {
    font-size: 30px;
  }
  .socials p {
    font-size: 14px;
  }
  #aa {
    font-size: 14px;
  }
  .copy {
    padding: 7px;
    font-size: 13px;
  }
  #flx {
    right: 0%;
    position: absolute;
    width: 150px;
    height: 150px;
    animation-duration: 3s;
  }
  @keyframes ff {
    0% {
      top: 80%;
    }
    50% {
      top: 81.5%;
    }
    100% {
      top: 80%;
    }
  }
  #zz {
    width: 40px;
    height: 40px;
  }
  .about {
    padding-inline: 10px;
  }
  .right p {
    padding-inline-end: 5px;
    font-size: 12px;
  }
  #ha {
    font-size: 40px;
  }
  #hb {
    font-size: 15px;
    line-height: 20px;
  }
  #hf {
    font-size: 24px;
  }
  #mee {
    font-size: 13px;
  }
}
@media (min-width: 1280px) and (max-width: 1440px) {
  .nav {
    width: 100%;
  }
  .logo-sec {
    font-size: 35px;
  }
  .float img {
    width: 100%;
    height: 40%;
  }
  #ha {
    font-size: 60px;
  }
  #hb {
    font-size: 20px;
  }
  #hf {
    font-size: 22px;
  }
  #mee {
    font-size: 14px;
  }
  .num {
    font-size: 50px;
  }
  .right p {
    padding-inline-end: 5px;
    font-size: 16px;
  }

  #fl {
    display: none;
  }
  #flx {
    width: 200px;
    height: 200px;
  }
  .box {
    height: 350px;
    min-width: 300px;
  }
  .home {
    text-align: center;
    font-size: 65px;
  }
  .btn {
    font-size: 25px;
  }
}
