* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: "Cherry Bomb One";
  font-variation-settings: "GRAD" 0;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

.nav {
  position: fixed;
  top: 0;
  width: 60%;
  justify-self: center;
  padding: 35px;
  display: grid;
  font-family: "Cherry Bomb One";
  backdrop-filter: blur(3px);
  grid-template-columns: 1fr 1fr 1fr;
}
.home {
  position: relative;
  background-image: url(ff.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 90px;
  height: 100vh;
  background-repeat: no-repeat;
  color: white;
}
.left {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.left a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 24px;
  text-decoration: none;
  padding: 7px 18px;
  gap: 5px;
  font-size: 20px;
  border: 3px solid white;
  background: skyblue;
}
#ho {
  background: pink;
}
.logo-sec {
  font-size: 50px;
  color: white;
  font-weight: bold;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.btn {
  font-size: 40px;
  font-weight: bolder;
  padding: 2px 30px;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.7);
  background: linear-gradient(to bottom, white, wheat);
  border: 5px solid white;
}
.about {
  height: 100vh;
  background-image: url(star.png);
  background-position: top;
  background-size: cover;
}
#fl {
  top: 20%;
  left: 8%;
  position: absolute;
  width: 300px;
  height: 320px;
}
#flx {
  top: 45%;
  right: 8%;
  position: absolute;
  width: 300px;
  height: 320px;
}
